.widget {
	display: none;
	width: 350px;
	right: 15px;
	height: 480px;
	bottom: 5%;
	position: fixed;
	background: #f6f6f6;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 2px 10px 1px #b5b5b5;
}

.chat_header {
	height: 10%;
	background: #7AAEDD;
	/* #6072e6 */
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
	font-size: 20px;
}

.chats {
	height: 340px;
	padding: 5px;
	margin-top: 5px;
	border-radius: 1px;
	overflow-y: scroll;
	transition: 0.2s;
}

div.chats::-webkit-scrollbar {
	width: 0px;
	/* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}




div.chats::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}


/* Handle */

div.chats::-webkit-scrollbar-thumb {
	background: #647aed;
}


/* Handle on hover */

div.chats::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

#close {
	cursor: pointer;
}

.clearfix {
	margin-top: 2px;
	margin-bottom: 2px;
}

.message {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0;
	margin-left: 0;
}

.botAvatar {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	float: left;
	margin-left: 5px;
	border: 2px solid #7AAEDD;
}

.botMsg {
	animation: animateElement linear 0.2s;
	float: left;
	margin-top: 5px;
	background: #ffffff;
	box-shadow: 2px 5px 5px 1px #efeef5;
	border: 1px solid #ffffff;
	margin-left: 0.5em;
	padding: 0.6em 1em;
	border-radius: 1.5em;
	max-width: 55%;
	min-width: 25%;
	font-size: 12px;
	word-wrap: break-word;
}

.userMsg {
	animation: animateElement linear 0.2s;
	animation-iteration-count: 1;
	margin-top: 5px;
	word-wrap: break-word;
	padding: 0.6em 1em;
	float: right;
	margin-right: 0.5em;
	background: #7AAEDD;
	border: 1px solid #7AAEDD;
	color: #fff;
	border-radius: 1.5em;
	margin-bottom: 0.15em;
	font-size: 12px;
	max-width: 55%;
	min-width: 13%;
	line-height: 1.5em;
}

.userAvatar {
	animation: animateElement linear 0.3s;
	animation-iteration-count: 1;
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	float: right;
	margin-right: 5px;
	border: 2px solid #7AAEDD;
}

.singleCard {
	/* height: 200px; */
	padding-left: 10%;
	padding-right: 10px;
}

.suggestions {
	padding: 5px;
	width: 80%;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 2px 5px 5px 1px #dbdade;
}

.cardsImage {
	width: 100%;
	height: 80%;
	border-radius: 10px 10px 0px 0px;
}

.keypad {
	height: 45px;
	position: absolute;
	bottom: 10px;
	width: 350px;
}

.usrInput {
	background: #f1f0f0;
	padding: 0.5em;
	width: 84%;
	margin-left: 4%;
	border-radius: 20px;
	box-shadow: 0px 2px 10px 1px #b5b5b5;
	border: 0;
	padding-left: 15px;
	height: 40px;
}

input:focus {
	outline: none;
}

video:focus {
	outline: none;
}

.menuTitle {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.menu {
	padding: 5px;
}

.menuChips {
	display: block;
	background: #7AAEDD;
	color: #fff;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	border-radius: 15px;
	font-size: 14px;
	word-wrap: break-word;
}

.imgcard {
	object-fit: cover;
	width: 80%;
	height: 90%;
	border-radius: 10px 10px 10px 10px;
	margin-left: 1%;
}

.chip {
	background-color: #6072e6;
	color: #fff;
	font-weight: normal;
	font-weight: 0;
	text-align: center;
}

@keyframes animateElement {
	0% {
		opacity: 0;
		transform: translate(0px, 10px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.imgProfile {
	
	padding-top: 11px;
    width: 62%;
}

.profile_div {
	/* display: none; */
	position: fixed;
    padding: 5px;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #7AAEDD;
    text-align: center;
    z-index: 9999999;
}

.profileIcon {
	height: 15%;
	align-items: center;
	float: left;
	margin-right: 10px;
}