html {
  scroll-behavior: smooth;
}
.widget {
    display: none;
    width: 350px;
    right: 15px;
    height: 480px;
    bottom: 5%;
    position: fixed;
    background: #f6f6f6;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px 1px #b5b5b5;
}

.chat_header {
    height: 10%;
    background: #7AAEDD;
    /* #6072e6 */
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: 20px;
}

.chats {
    height: 340px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 1px;
    overflow-y: scroll;
    transition: 0.2s;
}

div.chats::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}




div.chats::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

div.chats::-webkit-scrollbar-thumb {
    background: #647aed;
}


/* Handle on hover */

div.chats::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#close {
    cursor: pointer;
}

.clearfix {
    margin-top: 2px;
    margin-bottom: 2px;
}

.message {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 0;
}

.botAvatar {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-left: 5px;
    border: 2px solid #7AAEDD;
}

.botMsg {
    animation: animateElement linear 0.2s;
    float: left;
    margin-top: 5px;
    background: #ffffff;
    box-shadow: 2px 5px 5px 1px #efeef5;
    border: 1px solid #ffffff;
    margin-left: 0.5em;
    padding: 0.6em 1em;
    border-radius: 1.5em;
    max-width: 55%;
    min-width: 25%;
    font-size: 12px;
    word-wrap: break-word;
}

.userMsg {
    animation: animateElement linear 0.2s;
    animation-iteration-count: 1;
    margin-top: 5px;
    word-wrap: break-word;
    padding: 0.6em 1em;
    float: right;
    margin-right: 0.5em;
    background: #7AAEDD;
    border: 1px solid #7AAEDD;
    color: #fff;
    border-radius: 1.5em;
    margin-bottom: 0.15em;
    font-size: 12px;
    max-width: 55%;
    min-width: 13%;
    line-height: 1.5em;
}

.userAvatar {
    animation: animateElement linear 0.3s;
    animation-iteration-count: 1;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    float: right;
    margin-right: 5px;
    border: 2px solid #7AAEDD;
}

.singleCard {
    /* height: 200px; */
    padding-left: 10%;
    padding-right: 10px;
}

.suggestions {
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 5px 5px 1px #dbdade;
}

.cardsImage {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0px 0px;
}

.keypad {
    height: 45px;
    position: absolute;
    bottom: 10px;
    width: 350px;
}

.usrInput {
    background: #f1f0f0;
    padding: 0.5em;
    width: 84%;
    margin-left: 4%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 1px #b5b5b5;
    border: 0;
    padding-left: 15px;
    height: 40px;
}

input:focus {
    outline: none;
}

video:focus {
    outline: none;
}

.menuTitle {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    padding: 5px;
}

.menuChips {
    display: block;
    background: #7AAEDD;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
    word-wrap: break-word;
}

.imgcard {
    object-fit: cover;
    width: 64%;
    height: 50%;
    border-radius: 10px;
    margin-left: 5%;
}

.chip {
    background-color: #6072e6;
    color: #fff;
    font-weight: normal;
    font-weight: 0;
    text-align: center;
}

@keyframes animateElement {
    0% {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.imgbot-button {
    
    padding-top: 11px;
    width: 62%;
}

.chatbot-button {
    /* display: none; */
    position: fixed;
    padding: 5px;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #7AAEDD;
    text-align: center;
    z-index: 9999999;
}

.profileIcon {
    height: 15%;
    align-items: center;
    float: left;
    margin-right: 10px;
}

/*========== css related to chats elements============= */


/* css for card details of carousel cards */

.content {
    transition: 0.2s;
    display: none;
    width: 350px;
    right: 15px;
    height: 500px;
    bottom: 5%;
    position: fixed;
    background: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px 1px #b5b5b5;
}

.content_header {
    object-fit: cover;
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0px 0px;
}

.content_data {
    overflow-y: scroll;
    height: 70%;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 30%;
    z-index: 1000;
    border-radius: 10px;
    background: white;
    padding: 5px;
    box-shadow: 0px -1px 20px 3px #9c9393ba;
}

.content_title {
    color: black;
    font-weight: 600;
    word-wrap: break-word;
    padding-left: 5px;
    font-size: 1.2em;
    width: 80%;
    border-radius: .28571429rem;
}

.votes {
    font-size: 12px;
    color: lightslategray;
}

.ratings {
    margin-top: 5px;
    background: #9ACD32;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.user_ratings {
    border-radius: .28571429rem;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.total_ratings {
    font-size: 12px;
    opacity: .5;
    margin-left: 5px;
}

.content_data>.row .col {
    padding: 5px;
}

.metadata_1,
.metadata_2,
.metadata_3,
.metadata_4,
.row {
    margin-bottom: 0px;
}

.metadata_1 {
    color: lightslategrey;
    padding: 5px;
}

.order,
#closeContents {
    color: #2c53af;
}

.metadata_2,
.metadata_3,
.metadata_4,
.metadata_5,
.metadata_6 {
    color: lightslategrey;
    padding: 5px;
}

.average_cost,
.timings,
.location,
.cuisines {
    width: 70%;
    float: right;
    margin-right: 25%;
}

.fa .fa-user-o {
    font-size: 15px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

div.content::-webkit-scrollbar {
    width: 0 !important
}

div.content_data::-webkit-scrollbar {
    overflow-y: hidden;
    width: 0px;
    /* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}


/* css for single card */

.singleCard {
    padding-left: 10%;
    padding-right: 10px;
}





/* css for suggestions buttons */

.suggestions {
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 5px 5px 1px #dbdade;
}

.menuTitle {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    padding: 5px;
}




/* cards carousels */

.cards {
    display: none;
    position: relative;
    max-width: 300px;
}

.cards_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 210px;
    width: 300px;
    transition: width 0.5s ease;
    margin-left: 5px;
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.cards_scroller img {
    border-radius: 10px;
}

.cards div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.cards .arrow {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.cards .arrow.next {
    display: none;
    font-size: 2em;
    color: #7AAEDD;
    right: 0px;
    cursor: pointer;
}

.cards .arrow.prev {
    display: none;
    font-size: 2em;
    color: #7AAEDD;
    left: 12px;
    cursor: pointer;
}

.cards_scroller::-webkit-scrollbar {
    width: 0 !important
}

.cards_scroller>div.carousel_cards {
    margin: 5px;
    scroll-snap-align: center;
    /*position: relative;*/
    scroll-behavior: smooth;
}

.cards_scroller div.carousel_cards {
    min-width: 48%;
    min-height: 70%;
    background: #b5b5b5;
    border-radius: 10px;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -o-transform: translatey(10px);
        transform: translatey(10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-duration: 0.8s;
    animation-delay: 0.8s;
}


/* css for cards within the cards carousels */

.cardBackgroundImage {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.cardFooter {
    background: rgba(77, 76, 78, 0.86);
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    z-index: 3;
    color: white;
    bottom: 0;
    width: 100%;
    height: 30%;
    word-wrap: break-word;
    padding: 1px;
}

.cardTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    display: inline-block;
    height: 49%;
    font-size: 14px;
    /* font-weight: 600; */
    padding: 5px;
    /* color: #2c53af; */
    color: #ffffff;
    cursor: pointer;
}

.cardTitle:hover{
    color: #7AAEDD;
    text-decoration: none;
}

.cardDescription {
    padding: 5px;
    font-size: 13px;
    color: white;
    line-height: 7px;
}



/* css for botTyping */

.botTyping {
    float: left;
    margin-top: 5px;
    background: white;
    color: #7AAEDD;
    margin-left: 0.5em;
    padding: 9px;
    padding-top: 15px;
    box-shadow: 2px 5px 5px 1px #efeef5;
    max-width: 56%;
    min-width: 16%;
    border-radius: 1.5em;
    justify-content: space-around;
    display: flex;
    height: 37px;
}

/*.botTyping>div {
    width: 10px;
    height: 10px;
    background-color: #7AAEDD;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 5px;
}

.botTyping .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.botTyping .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}*/

.jump1,.jump2,.jump3{
     width: 8px;
     height: 8px;
     border-radius: 100%;
     background-color: #7AAEDD;
}

.jump1 {
    animation: typing 1.5s linear infinite;
    animation-delay: 0.05s;
}

.jump2 {
    animation: typing 1.5s linear infinite;
    animation-delay: 0.2s;
}

.jump3 {
    animation: typing 1.5s linear infinite;
    animation-delay: 0.3s;
}

@keyframes typing {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(10px);
    }

    45% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-10px);
    }

    75% {
        background-color: white;
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}
/*@media only screen and (max-width: 576px) {
    .cards .arrow.prev,.cards .arrow.next {
    display: none!important;
    }
}*/